
@font-face {
    font-family: 'SST ARABIC BOLD';
    font-style: normal;
    font-weight: normal;
    src: local('SST ARABIC BOLD'), url('SST-ARABIC-BOLD.TTF') format('woff');
}


@font-face {
    font-family: 'SST ARABIC LIGHT';
    font-style: normal;
    font-weight: normal;
    src: local('SST ARABIC LIGHT'), url('SST-ARABIC-LIGHT.TTF') format('woff');
}


@font-face {
    font-family: 'SSTArabic-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('SSTArabic-Medium'), url('SST-ARABIC-MEDIUM.TTF') format('woff');
}


@font-face {
font-family: 'SST Arabic';
font-style: normal;
font-weight: normal;
src: local('SST Arabic'), url('SST-ARABIC-ROMAN.TTF');
}
