$TC_light_blue: #370EA4;
$TC_orange: #FF6330;
$TC_dark_blue: #1F0760;
$TC_secondary_blue: #2A0B7D;
$TC_yellow: #F4BE0E;

$colors_list:
    'TC_light_blue'     #370EA4,
    'TC_orange'         #FF6330,
    'TC_dark_blue'      #1F0760,
    'TC_secondary_blue' #2A0B7D,
    'TC_yellow'         #F4BE0E;

    $dark: #3a405a